<div class="thumb">
	<article class="blog_entry hide">
		<button class="close">Close</button>
		<header><h2 class="message"><%= title %></h2></header>
		<p><%= entry %></p>
		<div class="user"><%= user %></div>
	</article>
</div>