<form id="login_form" class="login_form minimized">
	<label for="login_btn"></label>
	<input type="text" name="uid" id="uid" /><br />
	<input type="password" name="pwd" id="pwd" /><br />
	<button name="login_btn" id="login_btn">Log In</button>
</form>