<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/index.css' />
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<div id="wrapper">
			<header id="main_header">
				<h1 id="title" class="center"><%= title %></h1>
			</header>
			<div id="contents">
				<ul id="thumb_list">
					<li id="thumb_1"></li>
					<li id="thumb_2"></li>
					<li id="thumb_3"></li>
					<li id="thumb_4"></li>
					<li id="thumb_5"></li>
				</ul>
			</div>
		</div>
		<div id="log_in">
			<a id="login_show" class="" href="#login">Login</a>
		</div>
	</body>
	<script type="text/javascript">
		var BLOGS = [<%= blogs %>];
	</script>
	<script type="text/javascript" src="/js/libs/json2.js"></script>
	<script type="text/javascript" src="/js/libs/jquery.js"></script>
	<script type="text/javascript" src="/js/libs/jquery-ui.js"></script>
	<script type="text/javascript" src="/js/libs/underscore.js"></script>
	<script type="text/javascript" src="/js/libs/backbone.js"></script>
	<script type="text/javascript" src="/js/libs/ejs.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</html>